  /* Header-taskbar */

  .header-taskbar {
  background: var(--side-color);
  padding: 15px 20px;
  color: var(--button-toggleTheme-color);
  position: sticky;
  top: 0;
  z-index: 999; /* đảm bảo nằm trên các phần tử khác */
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .header-taskbar .inner-logo {
  font-weight: bold;
  font-size: 24px;
  }

  .menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  }
  .header-taskbar .menu-toggle span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  }

  .inner-tags {
  display: flex;
  }
  .header-taskbar .inner-tags ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  }
  .inner-tags a {
  text-decoration: none;
  color: var(--button-toggleTheme-color);
  font-weight: bold;
  }
  .header-taskbar .highlight {
  background: var(--hightlight);
  padding: 5px 10px;
  border-radius: 4px;
  }

  .close-menu {
  display: none;
  font-size: 28px;
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
  }

  /* Mobile responsive */
  @media (max-width: 768px) {
  .menu-toggle {
  display: flex;
  }
  .inner-tags {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--side-color);
  height: 550vh;
  width: 70%;
  flex-direction: column;
  padding-top: 60px;
  transition: 0.3s ease;
  z-index: 1000;
  }
  .inner-tags.active {
  display: flex;
  }
  .inner-tags ul {
  flex-direction: column;
  align-items: center;
  gap: 30px;
  }
  .close-menu {
  display: block;
  }
  .project-item{
    width: 100%;
  }

  }
  /* Header-taskbar */




  /* Header-top */


  .header-top .inner-cover{
  width: auto;
  }
  .header-top .inner-button svg{
  width: 30px;
  height: 30px;
  fill: var(--button-toggleTheme-color);
  }
  .header-top .inner-button button{
  width: 4vh;
  height: 4vh;
  border: none;
  border-radius: 50%;
  background-color: unset;
  display: flex
  ;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 2vh;
  right: 2vh;
  }
  .header-top .inner-button {
  position: relative;
  }
  .header-top .inner-desc{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
  }
  .header-top .inner-desc img{
  width: 100%;
  height: 400px;
  border-top-right-radius: var(--border-all);
  border-top-left-radius: var(--border-all);
  object-fit: cover;
  }
  /* Header-top */

  /* Header-under */
  .header-under .inner-under{
  display: flex;
  justify-content: space-between;      
  }
  .header-under .inner-user .inner-avatar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: .5vh solid var(--side-color);
  position: relative;
  top: -5vh;
  }
  .header-under .inner-avatar img{
  width: 100%;
  height: auto;
  border-radius: 50%;
  }

  .header-under .inner-info{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  }

  .header-under .inner-user{
  display: flex;
  flex: auto;
  }
  .header-under .inner-contact{
  display: flex;
  align-items:center;
  }
  @media (max-width: 769px) {
  .inner-contact {
  display: none !important;
  }
  .header-top .inner-desc img{
  height: 150px;
  object-fit: cover;
  }
  }


  .header-under .inner-name p{
  color:var(--button-toggleTheme-color);
  font-size: 18px;
  }

  .header-under .inner-status p{
  color:var(--button-toggleTheme-color); 
  font-size: 20px;
  }

  .header-under .flex{
  display: flex;
  justify-content: space-between ;
  background-color: var(--side-color);
  border-bottom-right-radius: var(--border-all);  
  border-bottom-left-radius: var(--border-all); 
  padding: 5px 40px;

  }
  .header-under .inner-conntact-button{
  padding: 10px;
  }
  .header-under .inner-conntact-button a{
  display: flex;
  align-items: center;
  color:var(--button-toggleTheme-color);
  /* background-color: var(--hightlight); */
  border-radius:4px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(53, 53, 53, 0.19);
  }

  .header-under .inner-contact a:hover{
  background-color: var(--text-color);
  color: var(--side-color);
  }

  .header-under .inner-conntact-button .fa-brands{
  font-size: 20px;
  width: 25px;
  fill:var(--button-toggleTheme-color);
  }
  /* Header-under */

  /* Section-one */
  .section-one .inner-main{
  display: flex;
  }
  .section-one .inner-left{
  margin-top: 10px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--side-color);
  border-radius: var(--border-all);
  color: var(--text-color);
  box-shadow: var(--card-shadow);
  }

  .section-one .inner-tittle {
  margin:12px 0px 0px 10px;
  }

  .section-one .inner-info {
  margin: 0 .8rem;
  }
  .section-one .row{
  padding-left: 0px;
  }

  .section-one .inner-desc{
  display: flex;
  align-items: center;
  padding: .3rem 0;
  }

  .section-one .inner-info svg{
  fill:var(--button-toggleTheme-color);
  width: 35px;
  height: 35px;
  }
  .section-one .inner-info p{
  margin:0px 0px;
  padding: 5px;
  }
  .section-one .inner-info a {
  color:#fa706f;
  }

  .section-one .inner-right{
  position: relative;
  margin-top: 10px;
  display: flex;
  height: 96.3%;
  flex-direction: column;
  background-color: var(--side-color);
  border-radius: var(--border-all);
  border-bottom-left-radius: var(--border-all);
  box-shadow: var(--card-shadow);
  }

  .section-one .inner-text{
  }


  .section-one .project-item-icon-box {
    background: var(--after-under);
    color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    font-size: 20px;
    padding: 18px;
    border-radius: 12px;
    opacity: 0;
    z-index: 1;
    transition: var(--transition-1);
}

  .project-item > a:hover .project-item-icon-box {
    transform: scale(--scale);
    opacity: 1;
  }



  .section-one .inner-text::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 30px;
  height: 3px;
  background: var(--after-under);
  border-radius: 3px;
  }

  .section-one  .inner-about-text {
  margin-top: 10px;
  font-size: 14px;
  } 

  .section-one .inner-portfolio {
    position: relative;
  }

  .section-one .inner-about-me{
    position: relative;
  }

  .section-one .inner-att {
  display: flex;
  position: absolute;
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
  width: max-content;
  border-radius: 0 20px;
  background-color: var(--att );
  /* padding: 0 20px; */
  box-shadow: none;
  z-index: 1;
  }

  .section-one .inner-item {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  color: var(--button-toggleTheme-color);
  }

  .section-one .inner-item.active {
  color: var(--after-under);
  }

  .section-one .inner-item-content {
  gap: 40px;
  display: none;
  flex-wrap:wrap;
  margin-bottom: 50px;
  }

  .active{
  animation: fade 0.5s ease backwards;
  }

  .section-one .inner-item-content.active {
  display: flex;
  animation: fade 0.5s ease backwards;
  }

  @keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }

  .section-one .inner-card img {
  }

 .inner-card {
  margin: 10px;
  padding-bottom: 1px;
  background: var(--side-color);
  color: var(--button-toggleTheme-color);
  /* border-radius: var(--border-all); */
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  }
  .section-one .inner-card:hover{
  }

  .inner-card img {
  width: 100%;
  height: auto;
  }

  .badge {
  font-size: 40px;
  color: #c55a11;
  margin-bottom: 10px;
  }

  .inner-card b {
  color: #000;
  }

  @media (min-width: 1024px) {
    .service-list {
        grid-template-columns: 1fr 1fr;
        gap: 20px 25px;
    }
  }
  .section-one .service-list {
    display: grid;
    padding: 0px;
  }

  .section-one .service-item {
    display: flex;
    padding: 10px;
    position: relative;
    border-radius: 14px;
    box-shadow: var(--att);
    z-index: 1;
  }
  .section-one .service-icon-box {
    margin-right: 5px;
  }
  .section-one .service-item::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
  }
  .section-one .service-icon-box img{
   width: 40px;
   margin: auto;
  }

  .section-one .service-item-title {
    margin-bottom: 7px;
  }
  .section-one .service-item-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-3);
    line-height: 1.6;
  }

  .section-one .inner-att .inner-item:hover {
    color: var(--after-under);
  }
  /* Section-one */

  /* Section-two */
  .section-two .inner-main{
  }
  .section-two .inner-under{
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--side-color);
  border-radius: var(--border-all);
  overflow: hidden;
  }

  .section-two .inner-left {
  display: flex;
  justify-items: center;
  }
  .section-two .inner-desc {
  text-align: center;
  font-size: 20px;
  }

  .section-two .inner-picture {

  margin: 10px auto;
  max-width: 550px;
  display: block;
  }
  .section-two .inner-picture img{
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-all);
  background-image: var(--background-image);

  }

  @media (max-width:768px) {
  .section-two .inner-under{
  display: block;
  }
  .section-two .inner-desc{

  }
  .section-one .inner-att{
  position:relative;
  }
  .section-one .inner-left{
  margin-bottom: 10px;
  }
    .service-item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 18px;
      padding: 30px;
    }
  }

  .text-center{
  justify-content: center;
  }

  .section-one .inner-achievement{
    position: relative;
  }

.inner-testimonials { margin-bottom: 30px; }

.testimonials-title { margin-bottom: 20px; }

.testimonials-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px 15px;
  padding-bottom: 35px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar {
  
}


.testimonials-item {
  min-width: 100%;
  scroll-snap-align: center;
}

.testimonials-avatar-box {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(15px, -25px);
  background: var(--bg-gradient-onyx);
  border-radius: 14px;
  box-shadow: var(--shadow-1);
}

.testimonials-item-title { margin-bottom: 7px; }

@media (min-width: 1024px) {
    .testimonials-item
     {
        min-width: calc(50% - 15px);
    }
}

.content-card{
      position: relative;
    background: var(--border-gradient-onyx);
    padding: 15px;
    padding-top: 45px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    z-index: 1;
}
.content-card::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
}

@media (min-width: 580px) {
    .testimonials-avatar-box {
        transform: translate(30px, -30px);
        border-radius: 20px;
    }
}


.testimontials-list {
    padding: 0px;
   display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    margin: 0 -15px;
    padding: 25px 15px;
    padding-bottom: 35px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}

.testimonials-avatar-box {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15px, -25px);
    background: var(--bg-gradient-onyx);
    border-radius: 14px;
    box-shadow: var(--shadow-1);
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 580px) {
    .testimonials-item-title {
        margin-bottom: 10px;
        margin-left: 95px;
    }
}

.section-one .testimonials-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

  /**
   * PORTFOLIO
   */

  .article-title { padding-bottom: 20px; }

  .filter-select-box { display: none; }

  .filter-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding-left: 5px;
    margin-bottom: 30px;
  }

  .filter-item button {
    color: var(--after-under);
    font-size: var(--fs-5);
    transition: var(--transition-1);
    border: 0px;
    background: none;
  }

  .filter-item button:hover { color: var(--light-gray-70); }

  .filter-item button.active { color: var(--text-color); }

  /* portfolio and blog grid */


  .project-list, .blog-posts-list {
     grid-template-columns: 1fr 1fr; 
    }
  /* .project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 10px;
    padding: 0px;
  } */
  
  .project-item a {
    color: var(--text-color);
  }
  
  .project-item h3 {
    font-size: 16px;
  }
  .project-item p{
    color: var(--gray);
  }

  .project-item {
  display: none;
}
.project-item.active {
  display: block;
}

.project-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    transition: var(--transition-1);
}
.project-item > a:hover img { transform: scale(1.1); }
.project-img {
    position: relative;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 15px;
}


.project {
  padding: 0px;
}

